*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.summary-div{
  padding: 0 0.5rem;
  height: fit-content;
}

.summary-div .title{
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: fit-content;
}


.summary{
  width: 90%;
  min-height: 5rem;
  margin: 0 auto;
  font-size: 1rem;
}

.summary-div button{
  margin: 0.25rem auto;
}
