.App {
  text-align: center;
}
.page {
  height: 1500px;
}

.App-container{
  margin: 0 auto;
  width: 1125px;
  display: flex;
  flex-direction: column;
}
.info {
  display: grid;
  grid-template-areas: "container-l container-r";
  grid-template-columns: 2fr 5fr;
}
.container-l{
  grid-area: container-l;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(1500px - 9rem);
  border-right: 2px solid black;
}

.container-r{
  grid-area: container-r;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(1500px - 10rem);
}
