body {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #bbbbbb;
  font-family: "Calibri", "Times New Roman", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  box-shadow: 5px 5px 5px 5px, -5px 5px 5px 5px;
  background-color: white;
  height: 1500px;
  width: 1125px;
  border: 2px solid black;
  margin: 0 auto;
}
